@import url(https://fonts.googleapis.com/css?family=Montserrat);
$font-family-base: "Montserrat", sans-serif !default;

ion-button {
    text-decoration: none;
    color: #FFF;
}

ion-content {
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 100%;
    background-color: white;
}

.points {
    float: left;
    width: 80%;
    color: #888;    
    font-family: 'Montserrat', sans-serif;
}

.points-title {
    font-weight: 900;
    color: #000;    
} 

.title {
    //position: absolute;
    // top: 0;
    // left: 0;
    padding-top: 12px;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #FFF;
    background-color: #019879;
}

.left {
    padding-left:20px;
    text-align: left;
    height: 40px;
}

.right {
    padding-right:20px; text-align: right;
}


.data-left  {
    // padding-top: 20px;
    padding-left:40px;
    // text-align: left;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;    
}

.data {
    // padding-top: 20px;
    // padding-bottom: 10px;
    // padding-left:40px;
    text-align: left;
    height: 60px;
    // line-height: 30px;
    vertical-align: middle;
    display: flex;
    align-content: center;
    align-items: center;
}

.data-all {
    padding-top: 12px;
    margin: 0 auto;
    width: 100%;
    height: 100%px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #019879;
    background-color: #FFF;
    border-bottom: 1px solid #AAA;
}

.no-padding {
    padding: 0px !important;
}

.data-button {
    width: 80%;
    height: 100%;
    background-color: #019879;
    color: #FFF;
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: normal;
    // display: flex;
    // align-content: center;
    // align-items: center;
}

.distance {
    float: right;
    background-color: #DDD;
    height: 50px;
    margin: 0px !important;
    padding-top: 15px;
    // padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 12pt;
    color: #019879;
}

.text {
    padding-top: 20px;
    background-color: #DDD;
    width: 100%;
    height: 90px;
    // display: block;
}

.ponto {
    float: left;
    background-color: #DDD;
    height: 50px;
    margin: 0px !important;
    // padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 16pt;
    color: #019879;
}

.description {
    background-color: #DDD;
    //height: 50px;
    // margin: 0px !important;
    // padding-top: 15px;
    //padding-left: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 16pt;    
}

.pontoId {
    background-color: #DDD;
    font-weight: bold;
    font-size: 9pt;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    margin: auto;
    padding: 0px;
}

ul > li {
    //float: left;
    //margin: 0px !important;
    text-align: left;
    list-style-type: none;
}

// .icon {
//     position: relative;
//     float: left;
//     color: #888;    
// }