<ion-header>
  <ion-grid no-padding>
      <ion-row class="title">
          <ion-col class="left" size="3">
            <!-- <ion-button fill="clear" color="white" block (click)="presentPopover($event)"> -->
            <ion-button fill="clear" color="white" block (click)="logout()">
              <fa-icon [icon]="faUser" size="2x"></fa-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" style="padding-top: 19px;text-align: center;">
            Cidade Coletiva
          </ion-col>
          <ion-col class="right" size="2">
            <ion-button fill="clear" color="white" block (click)="goToList()">
                <fa-icon [icon]="faListAlt" size="2x"></fa-icon>
            </ion-button>
          </ion-col>
        </ion-row>  
  </ion-grid>
</ion-header>
  
<ion-content>
  <div id="map"></div>
</ion-content>
  